name: test-notation-action

on:
  push:
    tags:
      - v*

env:
  ACR_TO_RELEASE: testnotation.azurecr.io
  ACR_REPO_TO_RELEASE: integration
  ACR_USERNAME: testnotation
  AKV_NAME: testnotationAKV
  KEY_ID: https://testnotationakv.vault.azure.net/keys/notationLeafCert/c585b8ad8fc542b28e41e555d9b3a1fd
  NOTATION_EXPERIMENTAL: 1

jobs:
  # build and push the release, setup notation, sign the artifact, and 
  # verify the signature
  notation-setup-sign-verify:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: prepare
        id: prepare
        run: |
          VERSION=${GITHUB_REF#refs/*/}
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          if [[ "${VERSION}" == "${BRANCH_NAME}" ]]; then
            VERSION=$(git rev-parse --short HEAD)
          fi
          echo "target_artifact_reference=${{ env.ACR_TO_RELEASE }}/${{ env.ACR_REPO_TO_RELEASE }}:${VERSION}" >> "$GITHUB_ENV"
      - name: docker login
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.ACR_TO_RELEASE }}
          username: ${{ env.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      - name: docker build release
        run: |          
          docker build -t ${{ env.target_artifact_reference }} .
          docker push ${{ env.target_artifact_reference }}
      - name: Azure login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.PATRICK_SP }}
          allow-no-subscriptions: true
      - name: setup notation
        uses: Two-Hearts/notation-action/setup@refactor
      - name: sign released artifact using key pair from AKV
        uses: Two-Hearts/notation-action/sign@refactor
        with:
          plugin_name: azure-kv
          plugin_url: https://github.com/Azure/notation-azure-kv/releases/download/v1.0.0-rc.2/notation-azure-kv_1.0.0-rc.2_linux_amd64.tar.gz
          plugin_checksum: 4242054463089F4b04019805f2c009267dbcc9689e386BC88d3c4fc4E095e52c
          key_id: ${{ env.KEY_ID }}
          target_artifact_reference: ${{ env.target_artifact_reference }}
          signature_format: cose
          plugin_config: ca_certs=.github/cert-bundle/cert-bundle.crt
      - name: verify released artifact
        uses: Two-Hearts/notation-action/verify@refactor
        with:
          target_artifact_reference: ${{ env.target_artifact_reference }}
          trust_policy: .github/trustpolicy/trustpolicy.json
          trust_store: .github/truststore
